// Fontes
$font: Roboto, sans-serif;

// Cores
$primary-color: #0B2447;
$secondary-color: #19376D;
$tertiary-color: #A5D7E8;
$quaternary-color: #576CBC;

// Tamanhos de fonte
$font-size-small: 0.8rem;
$font-size-medium: 1.5rem;
$font-size-large: 3rem;
